@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Laptop</title>
</head>
<body>
    <div>      
            <h3>Laptops</h3>
            <table class="table-condensed">
                    <tr>
                        <td scope="col">@ViewBag.Name</td>
                        <td class="img-thumbnail">@ViewBag.Image</td>
                        <td scope="col">@ViewBag.Price</td>
                    </tr>
            </table>
    </div>
</body>
</html>